examples/flow_examples.json
[
    {
        "id": "4d34ab9bdaeeb5db",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e446f7fea005cfc8",
        "type": "get-deploy",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 1030,
        "y": 60,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "e4ee819e68d63d94",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "Inject DeployHash",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "556dcbf612ad7aa975c0704e0b913a4b6ac2d05fbb4f0e28f7ef52482a66c0ef",
        "payloadType": "str",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "e446f7fea005cfc8"
            ]
        ]
    },
    {
        "id": "80c4838d203f5ff7",
        "type": "get-block-info",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "d992d9fbb152268c"
            ]
        ]
    },
    {
        "id": "3147bccc9a2a2d66",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "Inject Block Hash",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9b73c39bd1d3c1d9b6a4c5c260f581839b4977baa1c520ebc9c19db2b6f90127",
        "payloadType": "str",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "80c4838d203f5ff7"
            ]
        ]
    },
    {
        "id": "d992d9fbb152268c",
        "type": "function",
        "z": "4d34ab9bdaeeb5db",
        "name": "Loop Through Deploy Hashes",
        "func": "for (var i = 0; i < msg.payload.block.body.deploy_hashes.length; i++) {\n var newMsg = {};\n newMsg.payload = msg.payload.block.body.deploy_hashes[i];\n node.send(newMsg);\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "e446f7fea005cfc8"
            ]
        ]
    },
    {
        "id": "426f2e9beb4f7c39",
        "type": "get-latest-block-info",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "d992d9fbb152268c",
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "aea5affd0ee0de55",
        "type": "get-block-info-by-height",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "d992d9fbb152268c",
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "060fe967fb05fe6d",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "351357",
        "payloadType": "num",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "aea5affd0ee0de55"
            ]
        ]
    },
    {
        "id": "da1e086118bff6bc",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "426f2e9beb4f7c39"
            ]
        ]
    },
    {
        "id": "16a746a4af5aa246",
        "type": "get-peers",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "a727b7397b972a8b",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "7841b6259617f93e",
        "type": "get-status",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "da7c37679e4f84b1",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "ad63c06e45695fa2",
        "type": "get-validators-info",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "a727b7397b972a8b",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "1617c324a12bc543",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "16a746a4af5aa246"
            ]
        ]
    },
    {
        "id": "2d21d1f7de2ed8af",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "7841b6259617f93e"
            ]
        ]
    },
    {
        "id": "e72e504e9f37f449",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "ad63c06e45695fa2"
            ]
        ]
    },
    {
        "id": "36e99cd9898ada2d",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "Inject Account Hash",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "accountHash",
        "payload": "6c57a6cafbd8f6efbe01345ca0347a6a938f541d28c3690dc310b0bb4d3e10cf",
        "payloadType": "str",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "10ba394102c9e12a",
                "beab401c75f0bbc5"
            ]
        ]
    },
    {
        "id": "beab401c75f0bbc5",
        "type": "get-state-root-hash",
        "z": "4d34ab9bdaeeb5db",
        "client": "42cbe234c09eadc6",
        "name": "",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "10ba394102c9e12a",
                "ae53092eabd573f8",
                "dd2349ee499d434a"
            ]
        ]
    },
    {
        "id": "10ba394102c9e12a",
        "type": "join",
        "z": "4d34ab9bdaeeb5db",
        "name": "Merge StateRootHash and AccountHash",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "0a0b66bf7e630308",
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "0a0b66bf7e630308",
        "type": "get-account-uref-by-account-hash",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "ae53092eabd573f8"
            ]
        ]
    },
    {
        "id": "ae53092eabd573f8",
        "type": "join",
        "z": "4d34ab9bdaeeb5db",
        "name": "Merge StateRootHash and Uref",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 360,
        "wires": [
            [
                "970ad4bd136c2a0d",
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "970ad4bd136c2a0d",
        "type": "get-account-balance-by-uref",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "0fcaf5b013032f29",
        "type": "debug",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 520,
        "wires": []
    },
    {
        "id": "406cef587ea4dda4",
        "type": "get-account-uref-by-public-key",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "ae53092eabd573f8"
            ]
        ]
    },
    {
        "id": "85310ca5f20dbeb9",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "Inject Public Key",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "publicKey",
        "payload": "01bae47da8aa69679f6b482dce908a0ef507c8b48fbdbc8d46c91996000c2cd9a0",
        "payloadType": "str",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "dd2349ee499d434a",
                "beab401c75f0bbc5"
            ]
        ]
    },
    {
        "id": "dd2349ee499d434a",
        "type": "join",
        "z": "4d34ab9bdaeeb5db",
        "name": "Merge StateRootHash and PublicKey",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 500,
        "wires": [
            [
                "406cef587ea4dda4"
            ]
        ]
    },
    {
        "id": "e51a85fb3f2640d2",
        "type": "get-transfers",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 420,
        "y": 540,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "410a904a86fd957d",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "Inject Block Hash",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1edfb1e616eff2437e122895e7f9b87ba51029be637530e32ac0018a2295751a",
        "payloadType": "str",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "e51a85fb3f2640d2"
            ]
        ]
    },
    {
        "id": "e1b1433caa50f1de",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "Inject Switch Block",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "c19949257b4b5667abc9740fd587317f470ad9daa0cfde09f35a7076dfb00934",
        "payloadType": "str",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "5140f319a0b70d50"
            ]
        ]
    },
    {
        "id": "5140f319a0b70d50",
        "type": "get-era-switch-block-info",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "cb167d5f07d8b1f7",
        "type": "get-block-state",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "a727b7397b972a8b",
        "x": 1040,
        "y": 660,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "debe5f9faf54b67e",
        "type": "get-state-root-hash",
        "z": "4d34ab9bdaeeb5db",
        "client": "a727b7397b972a8b",
        "name": "",
        "x": 440,
        "y": 620,
        "wires": [
            [
                "f0d5d9f2e8b6eee6"
            ]
        ]
    },
    {
        "id": "6a9ebf8f81db6d3d",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "Inject Account Hash",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "key",
        "payload": "account-hash-c3ee84a05a222e512b9fb93997458e5fce70aa7dfed8bb19f0871bf7b0230154",
        "payloadType": "str",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "debe5f9faf54b67e",
                "f0d5d9f2e8b6eee6"
            ]
        ]
    },
    {
        "id": "f0d5d9f2e8b6eee6",
        "type": "join",
        "z": "4d34ab9bdaeeb5db",
        "name": "Merge StateRootHash and Contract Hash",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 760,
        "y": 660,
        "wires": [
            [
                "cb167d5f07d8b1f7"
            ]
        ]
    },
    {
        "id": "78e41e6c6213b246",
        "type": "get-dictionary-item-by-uref",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "da7c37679e4f84b1",
        "x": 1080,
        "y": 740,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "653ff0755e980e02",
        "type": "join",
        "z": "4d34ab9bdaeeb5db",
        "name": "Merge StateRootHash and Item",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 740,
        "wires": [
            [
                "78e41e6c6213b246",
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "8c123740cdccacb9",
        "type": "get-state-root-hash",
        "z": "4d34ab9bdaeeb5db",
        "client": "da7c37679e4f84b1",
        "name": "",
        "x": 440,
        "y": 700,
        "wires": [
            [
                "653ff0755e980e02"
            ]
        ]
    },
    {
        "id": "44e5c5a45529e5f1",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "Inject DictionaryItem",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "item",
        "payload": "{\"dictionaryKey\":\"mika.cspr\",\"seedUref\":\"uref-bC3c71eA5246EFA149CA653E6F63192e7c59C652Ab830eC59b234B99bfA0B109-007\"}",
        "payloadType": "json",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "8c123740cdccacb9",
                "653ff0755e980e02"
            ]
        ]
    },
    {
        "id": "f4e6052c5493ddd8",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "c5e7b86c8f8a241a"
            ]
        ]
    },
    {
        "id": "29a5e0b08bd88326",
        "type": "http in",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "url": "/block/:block",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 880,
        "wires": [
            [
                "60650e3b0681f107"
            ]
        ]
    },
    {
        "id": "bc48652aec888b4f",
        "type": "http response",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1270,
        "y": 880,
        "wires": []
    },
    {
        "id": "58d8c564bfc8ccfd",
        "type": "get-block-info",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "da7c37679e4f84b1",
        "x": 940,
        "y": 880,
        "wires": [
            [
                "bc48652aec888b4f"
            ]
        ]
    },
    {
        "id": "60650e3b0681f107",
        "type": "change",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.params.block",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 880,
        "wires": [
            [
                "58d8c564bfc8ccfd"
            ]
        ]
    },
    {
        "id": "f74bbfc575f6d33d",
        "type": "http in",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "url": "/dict/:uref/:key",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "6268467034c0a11b",
                "de9e9c2c3ac3246d"
            ]
        ]
    },
    {
        "id": "6268467034c0a11b",
        "type": "change",
        "z": "4d34ab9bdaeeb5db",
        "name": "Create Item Object",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "item",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.dictionaryKey",
                "pt": "msg",
                "to": "req.params.key",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.seedUref",
                "pt": "msg",
                "to": "req.params.uref",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 980,
        "wires": [
            [
                "ed5a5e8ebfbebf60"
            ]
        ]
    },
    {
        "id": "de9e9c2c3ac3246d",
        "type": "get-state-root-hash",
        "z": "4d34ab9bdaeeb5db",
        "client": "da7c37679e4f84b1",
        "name": "",
        "x": 390,
        "y": 940,
        "wires": [
            [
                "ed5a5e8ebfbebf60"
            ]
        ],
        "inputLabels": [
            "nnn"
        ]
    },
    {
        "id": "ed5a5e8ebfbebf60",
        "type": "join",
        "z": "4d34ab9bdaeeb5db",
        "name": "Merge StateRootHash and Item",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 960,
        "wires": [
            [
                "13846b5fa8162be9"
            ]
        ]
    },
    {
        "id": "13846b5fa8162be9",
        "type": "get-dictionary-item-by-uref",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "da7c37679e4f84b1",
        "x": 970,
        "y": 960,
        "wires": [
            [
                "bc48652aec888b4f"
            ]
        ]
    },
    {
        "id": "bebc8867e4978d96",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"name\":\"url\",\"value_type\":{\"type\":\"CLString\"},\"value\":\"http://test.com\"},{\"name\":\"option\",\"value_type\":{\"type\":\"CLAccountHash\"},\"value\":\"f44fcee6dbee884caa80860db27b0ee9211211af7ccd5c6d167f8a19deb110e1\"},{\"name\":\"carbon_emission\",\"value_type\":{\"type\":\"CLString\"},\"value\":\"1000\"},{\"name\":\"month_year\",\"value_type\":{\"type\":\"CLString\"},\"value\":\"November_2021\"},{\"name\":\"number\",\"value_type\":{\"type\":\"CLU512\"},\"value\":12345},{\"name\":\"test_str\",\"value_type\":{\"type\":\"CLString\"},\"value\":\"test\"},{\"name\":\"test_tuple2\",\"value_type\":{\"type\":\"CLTuple2\",\"value_type\":[{\"type\":\"CLString\"},{\"type\":\"CLList\",\"value_type\":{\"type\":\"CLString\"}}]},\"value\":[\"test\",[\"abc\",\"def\"]]},{\"name\":\"test_list\",\"value_type\":{\"type\":\"CLList\",\"value_type\":{\"type\":\"CLString\"}},\"value\":[\"test\"]},{\"name\":\"test_list_tuple\",\"value_type\":{\"type\":\"CLList\",\"value_type\":{\"type\":\"CLTuple2\",\"value_type\":[{\"type\":\"CLString\"},{\"type\":\"CLString\"}]}},\"value\":[[\"test\",\"tuple\"],[\"test2\",\"tuple2\"]]},{\"name\":\"test_map_tuple\",\"value_type\":{\"type\":\"CLMap\",\"value_type\":[{\"type\":\"CLString\"},{\"type\":\"CLTuple2\",\"value_type\":[{\"type\":\"CLString\"},{\"type\":\"CLString\"}]}]},\"value\":[[\"test\",[\"tuple\",\"map\"]]]}]",
        "payloadType": "json",
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "048b2a1d20a3e59b"
            ]
        ]
    },
    {
        "id": "cbf947087a422a12",
        "type": "stored-contract-by-hash",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "contractHash": "147e168e9583d50927f55a9638722063fF6243aF2475221492E550384AB6FbEF",
        "entryPoint": "set_domain_link",
        "x": 730,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "9cccaa4c449aef35",
        "type": "put-deploy",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "payment": "10",
        "client": "da7c37679e4f84b1",
        "Sign": "",
        "x": 510,
        "y": 1440,
        "wires": [
            [
                "eb010a46477f0a95"
            ]
        ]
    },
    {
        "id": "da9291d864a7d1b8",
        "type": "http in",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "url": "/stateroothash",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1160,
        "wires": [
            [
                "a100d9f99a6b6dc3"
            ]
        ]
    },
    {
        "id": "a100d9f99a6b6dc3",
        "type": "get-state-root-hash",
        "z": "4d34ab9bdaeeb5db",
        "client": "da7c37679e4f84b1",
        "name": "",
        "x": 480,
        "y": 1160,
        "wires": [
            [
                "96be6c5d1fe48766"
            ]
        ],
        "inputLabels": [
            "nnn"
        ]
    },
    {
        "id": "96be6c5d1fe48766",
        "type": "http response",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2dede8d44fddc424",
        "type": "stored-contract-by-name",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "contractName": "carbon_emissions_reward",
        "entryPoint": "input_data",
        "x": 730,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "879a9f7a6913ba0e",
        "type": "module-bytes",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "moduleBytes": "KKK",
        "x": 700,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "aec2d3234c2257ef",
        "type": "inject",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"amount\":5,\"publicKey\":\"01eb86b54bafad6b54cf7c1495a19310fd7425f2a71a7c2ec5d62583e072978017\",\"transferId\":0}",
        "payloadType": "json",
        "x": 170,
        "y": 1440,
        "wires": [
            [
                "04d668fcbd0ad5d3"
            ]
        ]
    },
    {
        "id": "04d668fcbd0ad5d3",
        "type": "transfer",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "x": 320,
        "y": 1440,
        "wires": [
            [
                "9cccaa4c449aef35"
            ]
        ]
    },
    {
        "id": "53b47c746230eb64",
        "type": "debug",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 1260,
        "wires": []
    },
    {
        "id": "048b2a1d20a3e59b",
        "type": "convert-to-runtime-args",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "x": 390,
        "y": 1340,
        "wires": [
            [
                "53b47c746230eb64"
            ]
        ]
    },
    {
        "id": "eb010a46477f0a95",
        "type": "debug",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1440,
        "wires": []
    },
    {
        "id": "c5e7b86c8f8a241a",
        "type": "get-deploy",
        "z": "4d34ab9bdaeeb5db",
        "name": "",
        "client": "42cbe234c09eadc6",
        "x": 410,
        "y": 800,
        "wires": [
            [
                "0fcaf5b013032f29"
            ]
        ]
    },
    {
        "id": "42cbe234c09eadc6",
        "type": "casper-client",
        "environment": "casper",
        "protocol": "http://",
        "host": "88.99.95.7",
        "port": "7777",
        "path": "/rpc"
    },
    {
        "id": "a727b7397b972a8b",
        "type": "casper-client",
        "environment": "casper-test",
        "protocol": "http://",
        "host": "65.108.8.45",
        "port": "7777",
        "path": "/rpc"
    },
    {
        "id": "da7c37679e4f84b1",
        "type": "casper-client",
        "environment": "casper-test",
        "protocol": "http://",
        "host": "3.208.91.63",
        "port": "7777",
        "path": "/rpc"
    }
]
